img{
	width: 500px;
    height: 300px;
	align-items: center;
   	

}
.sow {
	background-color: lightcoral;
	color: white;
	border: 2px solid;
	margin: 0px;
	padding: 20px;
	justify-content: center;
    align-items: center;
    display: flex;
}


.sol {
	background-color: lightgreen;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
	justify-content: center;
    align-items: center;
    display: flex;
}


.aer {
	background-color: teal;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
	justify-content: center;
    align-items: center;
    display: flex;
}
.aem {
	background-color: lightcoral;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
}
.sowt {
	background-color: lightgreen;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
}


.soly {
	background-color: teal;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
}


.aeu {
	background-color: lightcoral;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
}
.aeurr {
	background-color: lightgreen;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;
}
.fim{
	background-color: teal;
	color: white;
	border: 4px solid;
	margin: 0px;
	padding: 20px;

}